@import '../../../../public';

.content {
  padding: 10px;
  margin-bottom: $footerHeight;
}

.carousel-wrap {
  // 引入跑马灯组件样式
  @import '~react-image-gallery/styles/scss/image-gallery.scss';
  .image-gallery-image {
    height: calc(100vh - #{$headerHeight + 70px});
    @media (min-width: $mediaMinWidth) {
      min-height: 400px;
      max-height: 100vh !important;
    }
    @media (max-width: $mediaMaxWidth) {
      max-height: 30vh !important;
    }
  }
}
