@import '../../public';

header {
  @media (min-width: $mediaMinWidth) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $headerHeight;
    z-index: 5;
    background-color: inherit;
    box-shadow: 0 0 5px #222;
    transition: background-color $animationSpeed;
  }
  @media (max-width: $mediaMaxWidth) {
    width: 100vw;
    height: $headerHeight;
    background-color: inherit;
  }

  .header-body {
    margin: 0 auto;
    max-width: $bodyWidth;

    .header-logo {
      display: inline-block;
      height: $headerHeight;
      width: $headerHeight;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: top;
      transition: background-image $animationSpeed;
    }
    .header-title {
      display: inline-block;
      height: $headerHeight;
      width: 200px;
      max-width: 40%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: top;
      transition: background-image $animationSpeed;
    }
    .header-button-group {
      float: right;
      margin-right: 10px;
      height: $headerHeight;
      line-height: $headerHeight;

      .header-button-switch {
        float: right;
        margin: 0;
        width: $headerHeight;
        height: $headerHeight;
        overflow: hidden;
        text-align: center;
        font-size: 30px;

        div {
          line-height: $headerHeight - 5px;
          cursor: pointer;
          user-select: none;
          transition: transform $animationSpeed;
          transform: rotate(0deg);
        }
        .switch-on {
          transform: rotate(-90deg);
        }
      }
    }
    @media (min-width: $mediaMinWidth) {
      .header-mobile {
        display: none;
      }
    }
    @media (max-width: $mediaMaxWidth) {
      .header-screen {
        display: none;
      }
      .header-mobile {
        margin-right: 0;
      }
    }
  }
}

.mobile-navbar {
  max-height: 0;
  overflow-y: hidden;
  background-color: inherit;
  transition: border-top $animationSpeed, max-height $animationSpeed;

  .mobile-navbar-item {
    padding: 5px;
  }
}

.mobile-navbar-show {
  max-height: 100px;
}
