@import '../../public';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $headerHeight;
  z-index: 5;
  background-color: inherit;
  box-shadow: 0 0 5px #222;
  transition: background-color $animationSpeed;

  .header-body {
    margin: 0 auto;
    max-width: $bodyWidth;

    .header-logo {
      display: inline-block;
      height: $headerHeight;
      width: $headerHeight;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: top;
      transition: background-image $animationSpeed;
    }
    .header-title {
      display: inline-block;
      height: $headerHeight;
      width: 200px;
      max-width: 40%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: top;
      transition: background-image $animationSpeed;
    }
    .header-button-group {
      float: right;
      margin-right: 10px;
      height: $headerHeight;
      line-height: $headerHeight;

      .header-button-switch {
        float: right;
        margin: 0;
        width: $headerHeight;
        height: $headerHeight;
        overflow: hidden;
        text-align: center;

        div {
          line-height: $headerHeight;
          cursor: pointer;
          user-select: none;
          transition: transform $animationSpeed;
          transform: rotate(0deg);
        }
        .switch-on {
          transform: rotate(-90deg);
        }
      }
    }
    // 移动端按钮靠右
    .header-button-group.screen-invisible {
      margin-right: 0;
    }
  }
}

.history-back {
  position: fixed;
  padding: 15px;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  background-color: inherit;
  border-radius: 50%;
  box-shadow: 0 0 5px;
  transition: opacity $animationSpeed;
  &:hover {
    opacity: 0.6;
  }
}

.mobile-navbar-item {
  text-align: center;
}
