@import '../../public';

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  font-size: 0.8em;

  .footer-logo {
    width: $footerHeight;
    height: $footerHeight;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: background-image $animationSpeed;
  }

  .footer-note {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: $footerHeight;

    .float-left {
      margin-left: 10px;
      float: left;
    }
    .float-right {
      margin-right: 10px;
      float: right;
    }
  }
}
