$headerHeight: 60px;
$footerHeight: 60px;
$bodyWidth: 1200px;
$animationSpeed: 0.3s ease;

$fontColorWhite: #3d2f2e;
$fontColorDark: #ddd;

$backgroundColorWhite: rgba(255, 255, 255, 0.85);
$backgroundColorDark: rgba(13, 17, 23, 0.8);
$backgroundColorWhiteClear: rgba(255, 255, 255, 0.75);
$backgroundColorDarkClear: rgba(13, 17, 23, 0.65);

$borderColorWhite: #ddd;
$borderColorDark: #444;

$mediaMinWidth: 768px;
$mediaMaxWidth: 767px;

// antd 样式覆盖公用
$darkAntdColorSelect: #1890ff;
$darkAntdFontColor: $fontColorDark;
$darkAntdFontColorActive: #e6f7ff;
$darkAntdBackgroundColor: $fontColorWhite;
$darkAntdBgColorActive: #e6f7ff;
