@import './public';

// 覆盖 antd 样式
// menu
.ant-menu {
  background: transparent;
}
.ant-menu-horizontal {
  border-bottom: 1px solid $borderColorDark;
}
.ant-menu-inline {
  border-right: none;
}
.ant-menu-item {
  color: $darkAntdFontColor;
}
.ant-menu-submenu-title {
  color: $darkAntdFontColor;
}
.ant-menu-submenu-popup > .ant-menu {
  background-color: $darkAntdBackgroundColor !important;
}
.ant-menu-submenu {
  .ant-menu-item-selected {
    background-color: $darkAntdBgColorActive !important;
    color: $darkAntdColorSelect !important;
  }
  .ant-menu-item-active {
    color: $darkAntdBackgroundColor !important;
    background-color: $darkAntdBgColorActive !important;
  }
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $darkAntdBgColorActive !important;
  color: $darkAntdColorSelect !important;
}

// modal
.ant-modal {
  border: 1px solid $borderColorDark;
}
.ant-modal-content {
  background-color: $backgroundColorDark !important;
}
.ant-modal-close-icon {
  color: $darkAntdFontColor;
}

// 下拉框
.ant-select {
  color: $darkAntdFontColor !important;
}
.ant-select-selector {
  background-color: $darkAntdBackgroundColor !important;
}
.ant-select-selection-search {
  color: $darkAntdFontColor !important;
}
.ant-select-arrow {
  color: $darkAntdFontColor !important;
}
.ant-select-dropdown {
  background-color: $darkAntdBackgroundColor !important;
}
.ant-select-item {
  color: $darkAntdFontColor !important;
  background-color: $darkAntdBackgroundColor !important;
}
.ant-select-item-option-active {
  color: $darkAntdBackgroundColor !important;
  background-color: $darkAntdBgColorActive !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $darkAntdBgColorActive !important;
  color: $darkAntdColorSelect !important;
}

// 抽屉
.ant-drawer-content {
  background-color: transparent !important;
}
.ant-drawer-wrapper-body {
  background-color: $backgroundColorDark !important;
}
.ant-drawer-header {
  background: transparent !important;
  border-bottom: 1px solid $borderColorDark;
}
.ant-drawer-title {
  color: $darkAntdFontColor !important;
}
.ant-drawer-close {
  color: $darkAntdFontColor !important;
}

// 开关
.ant-switch {
  background-color: $darkAntdBackgroundColor !important;
}
.ant-switch-checked {
  background-color: $darkAntdBgColorActive !important;
}

// 输入框
.ant-input {
  color: $darkAntdFontColor !important;
  background-color: $darkAntdBackgroundColor !important;
}
.ant-input-search-button {
  color: $darkAntdFontColor !important;
}
.ant-btn {
  background-color: $darkAntdBackgroundColor !important;
}

// 分页器
.ant-pagination-total-text {
  color: $darkAntdFontColor !important;
}
.ant-pagination-item-link {
  background-color: $darkAntdBackgroundColor !important;
  color: $darkAntdFontColor !important;
}
.ant-pagination-item {
  background-color: $darkAntdBackgroundColor !important;
  a {
    color: $darkAntdFontColor !important;
  }
}
.ant-select-selection-item {
  color: $darkAntdFontColor !important;
}
.ant-pagination-item-ellipsis {
  color: $darkAntdFontColor !important;
}
.ant-pagination-simple-pager {
  color: $darkAntdFontColor !important;
  input {
    background-color: $darkAntdBackgroundColor !important;
    color: $darkAntdFontColor !important;
  }
}

// 描述
.ant-descriptions-title,
.ant-descriptions-item-label,
.ant-descriptions-item-content {
  color: $darkAntdFontColor !important;
}
