@import './public';

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  .white-theme {
    color: $fontColorWhite;
    background-color: $backgroundColorWhite;
    transition: background $animationSpeed, color $animationSpeed;
  }

  .dark-theme {
    @import './antd.rewrite';
    color: $fontColorDark;
    background-color: $backgroundColorDark;
    transition: background $animationSpeed, color $animationSpeed;
  }

  // 移动端隐藏
  @media (max-width: $mediaMaxWidth) {
    .mobile-invisible {
      display: none;
    }
  }

  // 桌面端隐藏
  @media (min-width: $mediaMinWidth) {
    .screen-invisible {
      display: none;
    }
  }

  .homepage {
    overflow: hidden;
    transition: all $animationSpeed;
  }
}
