@import '../../public';

.home-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  &:before {
    content: '';
    display: block;
    width: 100%;
    @media (min-width: $mediaMinWidth) {
      $gapHeight: 10px;
      height: $headerHeight + $gapHeight;
    }
    @media (max-width: $mediaMaxWidth) {
      $gapHeight: 0px;
      height: $headerHeight + $gapHeight;
    }
  }
}

.homepage {
  position: relative;
  max-width: $bodyWidth;
  background-color: inherit;
  margin: 0 auto;
  @media (min-width: $mediaMinWidth) {
    $gapHeight: 10px;
    min-height: calc(100vh - #{$headerHeight + $gapHeight});
  }
  @media (max-width: $mediaMaxWidth) {
    $gapHeight: 0px;
    min-height: calc(100vh - #{$headerHeight + $gapHeight});
  }
}
